@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    max-width: 1400px;
    text-align: center;
}
header{
    background-color: black;
    color: gold;
    height: 100px;
    padding-top: 3px;
}
h2{
    font-family: "Montserrat","sans-serif";
}
p{
    font-family: "Roboto","sans-serif";
}
footer{
    background-color: black;
    color: gold;
    height: 100px;
    padding-top: 3px;
}
section{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}