:root{
    --blue:blue;
    --white:white;
    --orange:orange;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    height: 100%;
}

header{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding-top: 1px;
}
header h1{
    padding: 20px;
}
.spacer{
    height: 20px;
}

.small-spacer{
    height: 10px;
    background-color: var(--white);
    margin-top: -3px;
}

.weather{
    display: grid;
    grid-template-columns: 1fr;
    border-top: 2px solid var(--blue);
    color: #000000;
    padding: 20px;
}

.weather h2{
    text-align: center;
}

.weather-icon{
    height: 75px;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
}

.data{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.data h2{
    text-align: center;
}

.data-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -5px;
}

.label{
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.value{
    text-align: left;
    padding-left: 5px;
}

.hero {
    margin-top: -1px;
}

.hero img{
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 1px;
}
footer{
    background-color: var(--blue);
    font-weight: 500;
    color: var(--white);
    text-align: center;
}
