@media (min-width: 1000px)
{
    .menu {
        display: none;
    }
    nav {
        display: flex;
        grid-column: 2/3;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
    nav a {
        display: block;
    }
}
@media (min-width: 640px)
{
    header {
        display: grid;
        grid-gap: 1rem;
        padding: 15px;
        background-color: aqua;
    }
    h1 {
        font-family: 'Roboto', serif;
        display: block;
    }
  
    main {
        max-width: 1000px;
    }
}